body{
  background-image:url('../assets/images/bk1.jpg');
  margin:10px 200px;
}

h1{
  border-bottom: 5px black solid;
  font-size:64pt;
  background-color:orange;
  margin:0;
  padding-left:10px;
  color:orange;
  text-shadow:2px 2px 15px black;
}

.container{
  background-color:white;
  width:100%;
  box-shadow:5px 5px 5px 10px grey;
}

p{
 padding-left:15px;
 padding-right:15px;

 font-size:18pt;
 text-align:justify;
 color:rgb(195, 100, 0);

 font-family:vivaldi;
}

.circle{
 border:2px solid rgb(195, 100, 0);
 background-color:rgba(195, 100, 0, 0.2);

 width:85px;
 height:85px;
 
 position:absolute;
 top:140px;
 left:205px;

 border-radius:50%;
}

#j{
 font-size:38pt;
 font-weight:bold;
}